/* Reset */

/* Task Form */

#task-form {
  text-align: center;
}

label {
  margin-bottom: 10px;
  display: block;
}

textarea {
  resize: none;
  margin-bottom: 10px;
}
input {
  margin-bottom: 10px;
}

/*  Task */
/* .task {
  border: 1px solid black;
  width: 15%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
} */
